
.btn, .form-control {
   margin: 15px 10px 0 30px;
}
#margin-control {
    margin-bottom: 10px;
}
.btn-color:hover {
    background: #f6fce077;                     
    color: white;
}
btn-color {
    background: #f6fce077;
    color: white;
}

.main-hdr {
    font-size: 2.0em;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
}
#main-hdrTOP {
    font-size: 400%;
    font-family: fantasy;
    padding: 30px 0 30px 0;
}
#search-area {
    padding: 30px 0 30px 0;
}
.sub-hdr {
    padding: 0px;
    border: 0px;
    margin: 0px;

}
.bc-purp {
    background: #3b013b;
    color: #ffffff98;
}
.jumtronimg{
    width: 90%;
    padding-left: 90px;
    height: 350px;
}
.grid-giph {
    width: 220px;
    height: 220px;
    border: white solid 10px;
    top: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.card {
    border: 0px;
}
.grid-assn {
    width: 270px;
    height: 270px;
    border: white solid 10px;
    top: 0;
}
#buffer {
    border-bottom: 2px solid  #757373;
    font-size: 350%;
    font-weight: 6.0em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3b053b8e;
    margin: 17px;
}
.lead {
    font-size: 125%;
}
.lr {
    color: white;
    text-align: center;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}